{extend name='admin_common'}
{block name='title'}
添加文章
{/block}

{block name='content'}
<div class="row">

    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">文章添加</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body am-fr">

                <form  class="am-form tpl-form-border-form tpl-form-border-br" action="" method="post">
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_name" class="am-u-sm-1 am-form-label">文章标题 </label>
                            <div class="am-u-sm-10 am-u-sm-pull-1"><!-- 3 8-->
                                <input type="text" name="art_title" class="tpl-form-input" id="cate_name" placeholder="请输入文章标题">
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_sort" class="am-u-sm-1 am-form-label">作者 </label>
                            <div class="am-u-sm-10 am-u-sm-pull-1">
                                <input type="text" name="art_author" class="tpl-form-input" id="cate_sort" placeholder="请输入作者">
                            </div>
                        </div>
                    </div>
                    <!--<div class="am-form-group">-->
                    <!--<div class="am-u-sm-10">-->
                    <!--<label for="create_at" class="am-u-sm-1 am-form-label">发布时间 </label>-->
                    <!--<div class="am-u-sm-10 am-u-sm-pull-1">-->
                    <!--<input type="text" id="create_at" name="create_at" class="am-form-field tpl-form-no-bg am-margin-top-xs" placeholder="请输入发布时间" data-am-datepicker="" readonly="">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_sort" class="am-u-sm-1 am-form-label">所属分类 </label>
                            <div class="am-u-sm-10 am-u-sm-pull-1">
                                <select name="cate_id" id="cate_id" >
                                    <option value="0">请选择分类</option>
                                    {foreach name='cateData' item='vo'}
                                    <option value="{$vo['cate_id']}">{$vo['_cate_name']}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_sort" class="am-u-sm-1 am-form-label">标签列表 </label>
                            <div class="am-u-sm-10 am-u-sm-pull-1">
                                {foreach name='tagData' item='vo'}
                                <label class="am-checkbox-inline">
                                    <input type="checkbox" name="tag[]" value="{$vo['tag_id']}">{$vo['tag_name']}
                                </label>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_sort" class="am-u-sm-1 am-form-label">文章排序 </label>
                            <div class="am-u-sm-1 am-u-sm-pull-10">
                                <input type="number" name="art_sort" class="tpl-form-input" value="100">
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label  for="cate_sort" class="am-u-sm-1 am-form-label">缩略图 </label>
                            <div class="am-u-sm-3 am-u-sm-pull-8">
                                <div class="tpl-form-file-img">
                                    <img id="preview_id"  src="" style="border: 1px solid #B8B9B9; width: 100px; height: 100px;" onclick="$('#input_id').click()" />
                                    <input type="hidden" name="art_thumb" id="art_thumb">
                                </div>
                                <button id="upload" type="button" onclick="$('#input_id').click()" class="am-btn am-btn-danger am-btn-sm upload">
                                    <i class="am-icon-cloud-upload"></i> 添加封面图片</button>
                                <input type="file"  name="file" id="input_id" style="display: none;" onchange="return uploadImageToServer('input_id','images', 'preview_id');" />
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_sort" class="am-u-sm-1 am-form-label">文章摘要 </label>
                            <div class="am-u-sm-10 am-u-sm-pull-1">
                                <input type="text" name="art_remark" placeholder="请输入文章摘要">
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_sort" class="am-u-sm-1 am-form-label">文章正文 </label>
                            <div class="am-u-sm-10 am-u-sm-pull-1">
                                <textarea name="art_content" id="editor" style="height: 500px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <div class="am-u-sm-1"></div>
                            <div class="am-u-sm-3 am-u-sm-pull-1">
                                <button type="submit" class="am-btn am-btn-primary am-btn-block tpl-btn-bg-color-success ">发布</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__STATIC__/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/upload/jquery.form.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/upload/uploadFile.js"></script>

<script>
    var ue = UE.getEditor('editor');
</script>
{/block}