{extend name='admin_common'}
{block name='title'}
添加子栏目
{/block}

{block name='content'}
<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">栏目添加</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body am-fr">

                <form class="am-form tpl-form-border-form tpl-form-border-br" method="post">
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_name" class="am-u-sm-1 am-form-label">栏目名称 </label>
                            <div class="am-u-sm-3 am-u-sm-pull-8">
                                <input type="text" name="cate_name" class="tpl-form-input" id="cate_name" placeholder="请输入栏目名称">
                            </div>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_pid" class="am-u-sm-1 am-form-label">所属栏目 </label>
                            <div class="am-u-sm-3 am-u-sm-pull-8">
                                <select name="cate_pid" id="cate_pid" >
                                    <option value="{$data['cate_id']}">{$data['cate_name']}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <label for="cate_sort" class="am-u-sm-1 am-form-label">栏目排序 </label>
                            <div class="am-u-sm-3 am-u-sm-pull-8">
                                <input type="text" name="cate_sort" class="tpl-form-input" id="cate_sort" placeholder="请输入排序数字">
                            </div>
                        </div>

                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10">
                            <div class="am-u-sm-1"></div>
                            <div class="am-u-sm-3 am-u-sm-pull-8">
                                <button type="submit" class="am-btn am-btn-primary am-btn-block tpl-btn-bg-color-success ">提交</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{/block}